<div class="m-3 alig-items-center">

  <!-- Select of list type and add button -->

  <mat-card>
    <div class="row">
      <div class="col-md-11">
        <mat-form-field class="w-100">
          <mat-label>Tipo de lista</mat-label>
          <mat-select [(ngModel)]="type" (ngModelChange)="filter()" [disabled]="filterChange">
            <mat-option id="selectTypeList" *ngFor="let list of listProductType" [value]="list">
              {{ list }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <div class="col-md-1 text-center">
          <button
          id="addProduct"
          color="primary"
          mat-mini-fab
          (click)="openProductDetail()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
    </div>
    <div class="row">
      <div class="text-center">
        <mat-slide-toggle [(ngModel)]="isChecked" color="primary" (ngModelChange)="getProducts()" [disabled]="filterChange">
          Ordenar Por fecha de Creación
        </mat-slide-toggle>
      </div>
    </div>
  </mat-card>

  <div class="pt-3 pb-3 text-center">
    <button mat-raised-button color="primary" (click)="activeFilter()" *ngIf="!filterChange" >Activar filtros avanzados</button>
    <button mat-raised-button color="warn" (click)="activeFilter()" *ngIf="filterChange" >Desactivar filtros avanzados</button>
  </div>


        <mat-card *ngIf="filterChange">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Tipo de filtro</mat-label>
                <mat-select [(ngModel)]="typeFilter" (ngModelChange)="typeFilterSearch()">
                  <mat-option id="selectTypeList" *ngFor="let list of listFilterType" [value]="list.value">
                    {{ list.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Palabra de búsqueda</mat-label>
                <input type="text"
                placeholder="Escribe lo que deseas buscar"
                matInput
                [formControl]="filterControl"
                [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async " [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
</div>

<!-- Text if don´t have any product -->

<div class="text-center text-light pt-5" *ngIf="this.productLength === 0" >
  <h1> <b>Agrega nuevos productos</b> </h1>
</div>

<!-- All the card products -->


<div class="m-3">
  <div class="row gy-3 pb-3">
    <div class="col-sm-6 col-md-4 col-lg-3"  *ngFor="let product of products| paginate:pageSize:pageNumber; let i = index ">
      <mat-card class="m-2" [class]="product.status ? 'bg-success text-light' : 'card border-success text-success'" [class.mat-elevation-z8]="true">

        <mat-card-title>
          <h2 class="text-center"> {{product.name}} </h2>
        </mat-card-title>

        <div class="text-center pb-2">
          <button mat-raised-button id="status" class="btn btn-success" (click)="chooseProduct(product._id, product)" *ngIf="!product.status">Lo quiero</button>
          <button mat-raised-button id="dontStatus" class="btn btn-warning text-white" (click)="dontChooseProduct(product._id, product)" *ngIf="product.status">No lo quiero</button>
        </div>

        <mat-divider inset></mat-divider>

        <mat-card-content class="text-center pt-2">
          <p> <b>Precio:</b> {{product.price | currency: 'S/.' }} </p>
          <p> <b>Categoría:</b> {{product.category.name }} </p>
          <p> <b>Marca:</b> {{product.brand.name }} </p>
          <b>Fecha:</b>
            <p>{{product.createdAt | date:"dd/MM/yyyy" | slice:0:10 }}</p>
          <b>Descripción:</b>
          <p>{{product.description}}</p>
        </mat-card-content>

        <mat-divider inset></mat-divider>

        <!-- Buttons -->
        <mat-card-actions>
          <div class="text-center" fxLayout="row">
            <button
              id="delete"
              mat-mini-fab
              color="warn"
              class="m-2"
              (click)="deleteProduct( product._id )"
            >
              <mat-icon aria-label="Delete icon">delete_forever</mat-icon>
            </button>

            <button
              id="edit"
              mat-mini-fab
              color="primary"
              (click)="openProductDetail( product._id )"
            >
              <mat-icon aria-label="Delete icon">edit</mat-icon>
            </button>
          </div>

        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>

<!-- Paginator -->

<div class="d-flex justify-content-center pb-3" *ngIf="productLength !== 0">
  <mat-card>
    <mat-paginator
     id="paginator"
     [length]="productLength"
     [pageSize]="pageSize"
     [pageSizeOptions]="pageSizeOptions"
     (page)="handlePage($event)"
     showFirstLastButtons
    >
    </mat-paginator>
  </mat-card>
</div>
